.welcome-section {
    text-align: center;
    margin: 50px 0;
}

.welcome-section img {
    max-width: 100%;
    height: auto;
    width: 300px; /* Ajusta el tamaño de la imagen según tus necesidades */
}